<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h1>EJS Practice</h1>
        <h2>Hello, <%= person.name %></h2>

        <% if (person.occupation === 'Plumber') { %>
            <p>You work with pipes!</p>    
        <% } else { %>
            <p>That's an interesting job!</p>
        <% } %>
    
</body>
</html>